service/tracesnt/eucites/cmsma/v2/eucites.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:base="http://ec.europa.eu/sanco/tracesnt/base/v4"
                  xmlns:common="http://ec.europa.eu/tracesnt/cites/common/v1"
                  xmlns:eucmsma="http://ec.europa.eu/tracesnt/citesmsma/v2"
                  targetNamespace="http://ec.europa.eu/tracesnt/citesmsma/v2">
<!--originally              targetNamespace="http://ec.europa.eu/citesmsma/v2tracesnt/">-->
       
	<wsdl:import location="../../../../base/v4/base.wsdl" namespace="http://ec.europa.eu/sanco/tracesnt/base/v4"/>
	
	<wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
		<sp:TransportBinding>
			<wsp:Policy>
				<sp:TransportToken>
					<wsp:Policy>
						<sp:HttpsToken />
					</wsp:Policy>
				</sp:TransportToken>
				<sp:AlgorithmSuite>
					<wsp:Policy>
						<sp:Basic256 />
					</wsp:Policy>
				</sp:AlgorithmSuite>
				<sp:Layout>
					<wsp:Policy>
						<sp:Lax />
					</wsp:Policy>
				</sp:Layout>
				<sp:IncludeTimestamp />
			</wsp:Policy>
		</sp:TransportBinding>
		<sp:SupportingTokens>
			<wsp:Policy>
				<sp:UsernameToken
					sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
					<wsp:Policy>
						<sp:HashPassword />
						<sp:WssUsernameToken10 />
					</wsp:Policy>
				</sp:UsernameToken>
			</wsp:Policy>
		</sp:SupportingTokens>
	</wsp:Policy>
	
	<wsdl:types>
        <xs:schema>
            <xs:import schemaLocation="eucites.xsd" namespace="http://ec.europa.eu/tracesnt/citesmsma/v2"/>
        </xs:schema>
    </wsdl:types>
    
    <!--  SendPermit  -->
    <wsdl:message name="SendPermitRequest">
        <wsdl:part name="permitContent" element="eucmsma:SendPermitRequestMessage" />
    </wsdl:message>

    <wsdl:message name="SendPermitResponse">
        <wsdl:part name="outcome" element="eucmsma:EUCITESResponseMessage" />
    </wsdl:message>
    
    <!--  GetPermit  -->
    <wsdl:message name="GetPermitRequest">
        <wsdl:part name="permitIdentifier" element="eucmsma:GetPermitRequestMessage" />
    </wsdl:message>

    <wsdl:message name="GetPermitResponse">
        <wsdl:part name="outcome" element="eucmsma:GetPermitResponseMessage" />
    </wsdl:message>

    <!--  GetPermitStatus  -->
    <wsdl:message name="GetPermitStatusRequest">
        <wsdl:part name="input" element="eucmsma:GetPermitStatusRequestMessage" />
    </wsdl:message>

    <wsdl:message name="GetPermitStatusResponse">
        <wsdl:part name="outcome" element="eucmsma:GetPermitStatusResponseMessage" />
    </wsdl:message>
    
    <wsdl:message name="GetIntroductionRequest">
    	<wsdl:part name="input" element="eucmsma:GetIntroductionRequestMessage" />
    </wsdl:message>
    
    <wsdl:message name="GetIntroductionResponse">
    	<wsdl:part name="output" element="eucmsma:GetIntroductionResponseMessage" />
    </wsdl:message>
    
    <!--  CitesWebServiceFault  -->
    <wsdl:message name="EUCITESWebServiceFault">
        <wsdl:part name="fault" element="common:EUCITESWebServiceFault" />
    </wsdl:message>
    
   <wsdl:portType name="EUCITESWebServicePort">
   
       <wsdl:operation name="sendPermit">
            <wsdl:documentation>
                Consume Export informed export permit. [Required for Create]
                Create/Amend/Cancel a permit data set.
            </wsdl:documentation>
            <wsdl:input message="eucmsma:SendPermitRequest" name="uploadPermit" >
                <wsdl:documentation>
                    <ul>
                        <li>Import Permit Information</li>
                    </ul>
                </wsdl:documentation>
            </wsdl:input>
            <wsdl:output message="eucmsma:SendPermitResponse" name="SendImportPermitResponse" >
                <wsdl:documentation>
                    <ul>
                        <li>Operation Outcome</li>
                    </ul>
                </wsdl:documentation>
            </wsdl:output>
            <wsdl:fault message="eucmsma:EUCITESWebServiceFault" name="EUCITESWebServiceFault">
                <wsdl:documentation>
                    If the operation is not executed correctly
                </wsdl:documentation>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="getPermit">
            <wsdl:documentation>
                Get Non Final Permit, if provided information is incorrect produces an error.
            </wsdl:documentation>
            <wsdl:input message="eucmsma:GetPermitRequest" name="GetPermitRequest" >
                <wsdl:documentation>
                    <ul>
                        <li>Permit Information</li>
                    </ul>
                </wsdl:documentation>
            </wsdl:input>
            <wsdl:output message="eucmsma:GetPermitResponse" name="GetPermitResponse" >
                <wsdl:documentation>
                    <ul>
                        <li>Operation Outcome</li>
                    </ul>
                </wsdl:documentation>
            </wsdl:output>
            <wsdl:fault message="eucmsma:EUCITESWebServiceFault" name="EUCITESWebServiceFault">
                <wsdl:documentation>
                    If the operation is not executed correctly
                </wsdl:documentation>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getPermitStatus">
            <wsdl:documentation>
                Get Permit Status, if provided information is incorrect produces an error.
            </wsdl:documentation>
            <wsdl:input message="eucmsma:GetPermitStatusRequest" name="GetPermitStatusRequest" >
                <wsdl:documentation>
                    <ul>
                        <li>Permit Information</li>
                    </ul>
                </wsdl:documentation>
            </wsdl:input>
            <wsdl:output message="eucmsma:GetPermitStatusResponse" name="GetPermissionStatusResponse" >
                <wsdl:documentation>
                    <ul>
                        <li>Operation Outcome</li>
                    </ul>
                </wsdl:documentation>
            </wsdl:output>
            <wsdl:fault message="eucmsma:EUCITESWebServiceFault" name="EUCITESWebServiceFault">
                <wsdl:documentation>
                    If the operation is not executed correctly
                </wsdl:documentation>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="getIntroduction">
            <wsdl:documentation>
                Get Permit Status, if provided information is incorrect produces an error.
            </wsdl:documentation>
            <wsdl:input message="eucmsma:GetIntroductionRequest" name="GetIntroductionRequest" >
                <wsdl:documentation>
                </wsdl:documentation>
            </wsdl:input>
            <wsdl:output message="eucmsma:GetIntroductionResponse" name="GetIntroductionResponse" >
                <wsdl:documentation>
                </wsdl:documentation>
            </wsdl:output>
            <wsdl:fault message="eucmsma:EUCITESWebServiceFault" name="EUCITESWebServiceFault">
                <wsdl:documentation>
                    If the operation is not executed correctly
                </wsdl:documentation>
            </wsdl:fault>
        </wsdl:operation>
   </wsdl:portType>
   
    <wsdl:binding name="EUCITESWebServiceSoapBinding" type="eucmsma:EUCITESWebServicePort">

        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="sendPermit">
            <soap:operation soapAction="http://ec.europa.eu/env/citesmsma/sendImportPermit"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header use="literal" part="webServiceClientId" message="base:WebServiceClientIdHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EUCITESWebServiceFault">
                <soap:fault name="EUCITESWebServiceFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getPermit">
            <soap:operation soapAction="http://ec.europa.eu/env/citesmsma/getPermit"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header use="literal" part="webServiceClientId" message="base:WebServiceClientIdHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EUCITESWebServiceFault">
                <soap:fault name="EUCITESWebServiceFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getPermitStatus">
            <soap:operation soapAction="http://ec.europa.eu/env/citesmsma/getPermitStatus"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header use="literal" part="webServiceClientId" message="base:WebServiceClientIdHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EUCITESWebServiceFault">
                <soap:fault name="EUCITESWebServiceFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getIntroduction">
            <soap:operation soapAction="http://ec.europa.eu/env/citesmsma/getIntroduction"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header use="literal" part="webServiceClientId" message="base:WebServiceClientIdHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EUCITESWebServiceFault">
                <soap:fault name="EUCITESWebServiceFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>
       
	<wsdl:service name="EUCitesServicev2">
		<wsdl:port name="EUCitesServicev2Endpoint" binding="eucmsma:EUCITESWebServiceSoapBinding">
			<soap:address location="http://localhost:7001/tracesnt/ws/EUCitesServicev2"/>
		</wsdl:port>
	</wsdl:service>
   
</wsdl:definitions>