service/wsdl/domino/attachments2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        xmlns:sna="urn:cz:sysnet:attachment:data:standard:AttachmentModel:2"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:tns="https://schemes.sysnet.cz/attachments"
        targetNamespace="https://schemes.sysnet.cz/attachments">
	<wsdl:types>
		<xsi:schema
                xmlns:xsi="http://www.w3.org/2001/XMLSchema"
                targetNamespace="https://schemes.sysnet.cz/attachments"
                elementFormDefault="qualified">
			<xsi:import namespace="urn:cz:sysnet:attachment:data:standard:AttachmentModel:2" schemaLocation="attachments2.xsd"/>
			<xsi:complexType name="FaultType">
				<xsi:sequence>
					<xsi:element name="statusCode" type="xs:string"/>
					<xsi:element name="errorMessage" type="xs:string" minOccurs="0"/>
				</xsi:sequence>
			</xsi:complexType>
			<xsi:complexType name="FilterType">
				<xsi:sequence>
					<xsi:element name="storage" type="xsi:string"/>
					<xsi:element name="unid" type="xsi:string" minOccurs="0"/>
					<xsi:element name="fileName" type="xsi:string" minOccurs="0"/>
					<xsi:element name="form" type="xsi:string" minOccurs="0"/>
					<xsi:element name="dateFrom" type="xsi:dateTime" minOccurs="0"/>
					<xsi:element name="dateTo" type="xsi:dateTime" minOccurs="0"/>
				</xsi:sequence>
			</xsi:complexType>
			<xsi:complexType name="DocumentRequestType">
				<xsi:sequence>
					<xsi:element name="storage" type="xsi:string"/>
					<xsi:element name="unid" type="xsi:string"/>
				</xsi:sequence>
			</xsi:complexType>
			<xsi:complexType name="PidRequestType">
				<xsi:sequence>
					<xsi:element name="storage" type="xsi:string"/>
					<xsi:element name="pid" type="xsi:string"/>
				</xsi:sequence>
			</xsi:complexType>
			<xsi:complexType name="AttachmentRequestType">
				<xsi:complexContent>
					<xsi:extension base="tns:DocumentRequestType">
						<xsi:sequence>
							<xsi:element name="fileName" type="xsi:string"/>
						</xsi:sequence>
					</xsi:extension>
				</xsi:complexContent>
			</xsi:complexType>
		</xsi:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="https://schemes.sysnet.cz/attachments"/>
	</wsdl:types>
	<wsdl:message name="AttachmentsFault">
		<wsdl:part name="fault" type="tns:FaultType"/>
	</wsdl:message>
	<wsdl:message name="GetInfoResponse">
		<wsdl:part name="info" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="GetDocumentAttachmentsResponse">
		<wsdl:part name="attachment" type="tns:AttachmentRequestType"/>
	</wsdl:message>
	<wsdl:message name="GetAttachmentResponse">
		<wsdl:part name="attachment" type="sna:AttachmentType"/>
	</wsdl:message>
	<wsdl:message name="GetAttachmentsFilteredRequest">
		<wsdl:part name="filter" type="tns:FilterType"/>
	</wsdl:message>
	<wsdl:message name="GetAttachmentsFilteredResponse">
		<wsdl:part name="attachments" type="sna:AttachmentsArrayType"/>
	</wsdl:message>
	<wsdl:message name="GetInfoRequest"/>
	<wsdl:message name="NewMessage"/>
	<wsdl:message name="GetDocumentRequest">
		<wsdl:part name="document" type="tns:DocumentRequestType"/>
	</wsdl:message>
	<wsdl:message name="GetDocumentResponse">
		<wsdl:part name="attachments" type="sna:DocumentAttachmentsArrayType"/>
	</wsdl:message>
	<wsdl:message name="GetDocumentByPidRequest">
		<wsdl:part name="document" type="tns:PidRequestType"/>
	</wsdl:message>
	<wsdl:message name="GetDocumentByPidResponse">
		<wsdl:part name="attachments" type="sna:DocumentAttachmentsArrayType"/>
	</wsdl:message>
	<wsdl:portType name="attachments">
		<wsdl:documentation>WS attachments</wsdl:documentation>
		<wsdl:operation name="getInfo">
			<wsdl:input name="GetInfoRequest" message="tns:GetInfoRequest"/>
			<wsdl:output name="GetInfoResponse" message="tns:GetInfoResponse"/>
			<wsdl:fault name="AttachmentsFault" message="tns:AttachmentsFault"/>
		</wsdl:operation>
		<wsdl:operation name="getAttachment">
			<wsdl:input name="GetAttachmentRequest" message="tns:GetDocumentAttachmentsResponse"/>
			<wsdl:output name="GetAttachmentResponse" message="tns:GetAttachmentResponse"/>
			<wsdl:fault name="AttachmentsFault" message="tns:AttachmentsFault"/>
		</wsdl:operation>
		<wsdl:operation name="getAttachmentsFiltered">
			<wsdl:input name="GetAttachmentsFilteredRequest" message="tns:GetAttachmentsFilteredRequest"/>
			<wsdl:output name="GetAttachmentsFilteredResponse" message="tns:GetAttachmentsFilteredResponse"/>
			<wsdl:fault name="AttachmentsFault" message="tns:AttachmentsFault"/>
		</wsdl:operation>
		<wsdl:operation name="getDocument">
			<wsdl:input name="GetDocumentRequest" message="tns:GetDocumentRequest"/>
			<wsdl:output name="GetDocumentResponse" message="tns:GetDocumentResponse"/>
			<wsdl:fault name="AttachmentsFault" message="tns:AttachmentsFault"/>
		</wsdl:operation>
		<wsdl:operation name="getDocumentByPid">
			<wsdl:input name="getDocumentByPidRequest" message="tns:GetDocumentByPidRequest"/>
			<wsdl:output name="getDocumentByPidResponse" message="tns:GetDocumentByPidResponse"/>
			<wsdl:fault name="AttachmentsFault" message="tns:AttachmentsFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="attachmentsSoap" type="tns:attachments">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getInfo">
			<soap:operation soapAction="https://schemes.sysnet.cz/attachments"/>
			<wsdl:input name="GetInfoRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetInfoResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AttachmentsFault">
				<soap:fault name="AttachmentsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAttachment">
			<soap:operation soapAction="https://schemes.sysnet.cz/attachments"/>
			<wsdl:input name="GetAttachmentRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetAttachmentResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AttachmentsFault">
				<soap:fault name="AttachmentsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAttachmentsFiltered">
			<soap:operation soapAction="https://schemes.sysnet.cz/attachments"/>
			<wsdl:input name="GetAttachmentsFilteredRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetAttachmentsFilteredResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AttachmentsFault">
				<soap:fault name="AttachmentsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getDocument">
			<soap:operation soapAction="https://schemes.sysnet.cz/attachments"/>
			<wsdl:input name="GetDocumentRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetDocumentResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AttachmentsFault">
				<soap:fault name="AttachmentsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getDocumentByPid">
			<soap:operation soapAction="https://schemes.sysnet.cz/attachments"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AttachmentsFault">
				<soap:fault name="AttachmentsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="attachmentsService">
		<wsdl:port name="attachmentsSoap" binding="tns:attachmentsSoap">
			<soap:address location="No target address"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
