service/wsdl/domino/attachments2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        xmlns:sna="https://schemes.sysnet.cz/models/attachments"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:tns="https://schemes.sysnet.cz/services/attachments"
        targetNamespace="https://schemes.sysnet.cz/services/attachments">
	<wsdl:types>
		<xsi:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema" targetNamespace="https://schemes.sysnet.cz/services/attachments" elementFormDefault="qualified">
			<xsi:import namespace="https://schemes.sysnet.cz/models/attachments" schemaLocation="attachments2.xsd"/>
			<xsi:complexType name="FaultType">
				<xsi:sequence>
					<xsi:element name="statusCode" type="xs:string"/>
					<xsi:element name="errorMessage" type="xs:string" minOccurs="0"/>
				</xsi:sequence>
			</xsi:complexType>
			<xsi:complexType name="FilterType">
				<xsi:sequence>
					<xsi:element name="storage" type="xsi:string"/>
					<xsi:element name="unid" type="xsi:string" minOccurs="0"/>
					<xsi:element name="fileName" type="xsi:string" minOccurs="0"/>
					<xsi:element name="form" type="xsi:string" minOccurs="0"/>
					<xsi:element name="dateFrom" type="xsi:dateTime" minOccurs="0"/>
					<xsi:element name="dateTo" type="xsi:dateTime" minOccurs="0"/>
				</xsi:sequence>
			</xsi:complexType>
			<xsi:complexType name="UnidRequestType">
				<xsi:sequence>
					<xsi:element name="storage" type="xsi:string"/>
					<xsi:element name="unid" type="xsi:string"/>
				</xsi:sequence>
			</xsi:complexType>
			<xsi:complexType name="PidRequestType">
				<xsi:sequence>
					<xsi:element name="storage" type="xsi:string"/>
					<xsi:element name="pid" type="xsi:string"/>
				</xsi:sequence>
			</xsi:complexType>
			<xsi:complexType name="AttachmentRequestType">
				<xsi:complexContent>
					<xsi:extension base="tns:UnidRequestType">
						<xsi:sequence>
							<xsi:element name="fileName" type="xsi:string"/>
						</xsi:sequence>
					</xsi:extension>
				</xsi:complexContent>
			</xsi:complexType>
		</xsi:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="https://schemes.sysnet.cz/attachments"/>
	</wsdl:types>
	<wsdl:message name="AttachmentsFault">
		<wsdl:part name="fault" type="tns:FaultType"/>
	</wsdl:message>
	<wsdl:message name="GetInfoResponse">
		<wsdl:part name="info" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="GetSingleAttachmentRequest">
		<wsdl:part name="attachment" type="tns:AttachmentRequestType"/>
	</wsdl:message>
	<wsdl:message name="GetSingleAttachmentResponse">
		<wsdl:part name="attachment" type="sna:AttachmentType"/>
	</wsdl:message>
	<wsdl:message name="GetAttachmentsFilteredRequest">
		<wsdl:part name="filter" type="tns:FilterType"/>
	</wsdl:message>
	<wsdl:message name="GetAttachmentsFilteredResponse">
		<wsdl:part name="attachments" type="sna:AttachmentsArrayType"/>
	</wsdl:message>
	<wsdl:message name="GetInfoRequest"/>
	<wsdl:message name="GetAttachmentsByDocumentUnidtRequest">
		<wsdl:part name="document" type="tns:UnidRequestType"/>
	</wsdl:message>
	<wsdl:message name="GetAttachmentsByDocumentUnidResponse">
		<wsdl:part name="attachments" type="sna:DocumentAttachmentsArrayType"/>
	</wsdl:message>
	<wsdl:message name="GetAttachmentsByDocumentPidRequest">
		<wsdl:part name="document" type="tns:PidRequestType"/>
	</wsdl:message>
	<wsdl:message name="GetAttachmentsByDocumentPidResponse">
		<wsdl:part name="attachments" type="sna:DocumentAttachmentsArrayType"/>
	</wsdl:message>
	<wsdl:message name="GetSingleMetadataRequest">
		<wsdl:part name="attachment" type="tns:AttachmentRequestType"/>
	</wsdl:message>
	<wsdl:message name="GetSingleMetadataResponse">
		<wsdl:part name="attachment" type="sna:AttachmentMetadataType"/>
	</wsdl:message>
	<wsdl:message name="GetMetadataFilteredRequest">
		<wsdl:part name="filter" type="tns:FilterType"/>
	</wsdl:message>
	<wsdl:message name="GetMetadataFilteredResponse">
		<wsdl:part name="attachments" type="sna:AttachmentsMetadataArrayType"/>
	</wsdl:message>
	<wsdl:message name="GetMetadataByDocumentUnidRequest">
		<wsdl:part name="document" type="tns:UnidRequestType"/>
	</wsdl:message>
	<wsdl:message name="GetMetadataByDocumentUnidResponse">
		<wsdl:part name="attachments" type="sna:DocumentAttachmentsMetadataArrayType"/>
	</wsdl:message>
	<wsdl:message name="GetMetadataByDocumentPidRequest">
		<wsdl:part name="document" type="tns:PidRequestType"/>
	</wsdl:message>
	<wsdl:message name="GetMetadataByDocumentPidResponse">
		<wsdl:part name="attachments" type="sna:DocumentAttachmentsMetadataArrayType"/>
	</wsdl:message>
	<wsdl:portType name="attachments">
		<wsdl:documentation>WS attachments</wsdl:documentation>
		<wsdl:operation name="getInfo">
			<wsdl:input name="GetInfoRequest" message="tns:GetInfoRequest"/>
			<wsdl:output name="GetInfoResponse" message="tns:GetInfoResponse"/>
			<wsdl:fault name="AttachmentsFault" message="tns:AttachmentsFault"/>
		</wsdl:operation>
		<wsdl:operation name="getSingleAttachment">
			<wsdl:input name="GetSingleAttachmentRequest" message="tns:GetSingleAttachmentRequest"/>
			<wsdl:output name="GetSingleAttachmentResponse" message="tns:GetSingleAttachmentResponse"/>
			<wsdl:fault name="AttachmentsFault" message="tns:AttachmentsFault"/>
		</wsdl:operation>
		<wsdl:operation name="getAttachmentsFiltered">
			<wsdl:input name="GetAttachmentsFilteredRequest" message="tns:GetAttachmentsFilteredRequest"/>
			<wsdl:output name="GetAttachmentsFilteredResponse" message="tns:GetAttachmentsFilteredResponse"/>
			<wsdl:fault name="AttachmentsFault" message="tns:AttachmentsFault"/>
		</wsdl:operation>
		<wsdl:operation name="getAttachmentsByDocumentUnid">
			<wsdl:input name="GetAttachmentsByDocumentUnidRequest" message="tns:GetAttachmentsByDocumentUnidtRequest"/>
			<wsdl:output name="GetAttachmentsByDocumentUnidtResponse" message="tns:GetAttachmentsByDocumentUnidResponse"/>
			<wsdl:fault name="AttachmentsFault" message="tns:AttachmentsFault"/>
		</wsdl:operation>
		<wsdl:operation name="getAttachmentsByDocumentPid">
			<wsdl:input name="GetAttachmentsByDocumentPidRequest" message="tns:GetAttachmentsByDocumentPidRequest"/>
			<wsdl:output name="GetAttachmentsByDocumentPidResponse" message="tns:GetAttachmentsByDocumentPidResponse"/>
			<wsdl:fault name="AttachmentsFault" message="tns:AttachmentsFault"/>
		</wsdl:operation>
		<wsdl:operation name="getSingleMetadata">
			<wsdl:input name="GetSingleMetadataRequest" message="tns:GetSingleMetadataRequest"/>
			<wsdl:output name="GetSingleMetadataResponse" message="tns:GetSingleMetadataResponse"/>
			<wsdl:fault name="AttachmentsFault" message="tns:AttachmentsFault"/>
		</wsdl:operation>
		<wsdl:operation name="getMetadataFiltered">
			<wsdl:input name="GetMetadataFilteredRequest" message="tns:GetMetadataFilteredRequest"/>
			<wsdl:output name="GetMetadataFilteredResponse" message="tns:GetMetadataFilteredResponse"/>
			<wsdl:fault name="AttachmentsFault" message="tns:AttachmentsFault"/>
		</wsdl:operation>
		<wsdl:operation name="getMetadataByDocumentUnid">
			<wsdl:input name="GetMetadataByDocumentUnidRequest" message="tns:GetMetadataByDocumentUnidRequest"/>
			<wsdl:output name="GetMetadataByDocumentUnidResponse" message="tns:GetMetadataByDocumentUnidResponse"/>
			<wsdl:fault name="AttachmentsFault" message="tns:AttachmentsFault"/>
		</wsdl:operation>
		<wsdl:operation name="getMetadataByDocumentPid">
			<wsdl:input name="GetMetadataByDocumentPidRequest" message="tns:GetMetadataByDocumentPidRequest"/>
			<wsdl:output name="GetMetadataByDocumentPidResponse" message="tns:GetMetadataByDocumentPidResponse"/>
			<wsdl:fault name="AttachmentsFault" message="tns:AttachmentsFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="attachmentsSoap" type="tns:attachments">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getInfo">
			<soap:operation soapAction="https://schemes.sysnet.cz/attachments"/>
			<wsdl:input name="GetInfoRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetInfoResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AttachmentsFault">
				<soap:fault name="AttachmentsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getSingleAttachment">
			<soap:operation soapAction="https://schemes.sysnet.cz/attachments"/>
			<wsdl:input name="GetSingleAttachmentRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetSingleAttachmentResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AttachmentsFault">
				<soap:fault name="AttachmentsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAttachmentsFiltered">
			<soap:operation soapAction="https://schemes.sysnet.cz/attachments"/>
			<wsdl:input name="GetAttachmentsFilteredRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetAttachmentsFilteredResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AttachmentsFault">
				<soap:fault name="AttachmentsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAttachmentsByDocumentUnid">
			<soap:operation soapAction="https://schemes.sysnet.cz/attachments"/>
			<wsdl:input name="GetAttachmentsByDocumentUnidRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetAttachmentsByDocumentUnidtResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AttachmentsFault">
				<soap:fault name="AttachmentsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAttachmentsByDocumentPid">
			<soap:operation soapAction="https://schemes.sysnet.cz/attachments"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AttachmentsFault">
				<soap:fault name="AttachmentsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getSingleMetadata">
			<soap:operation soapAction="https://schemes.sysnet.cz/services/attachments"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AttachmentsFault">
				<soap:fault name="AttachmentsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getMetadataFiltered">
			<soap:operation soapAction="https://schemes.sysnet.cz/services/attachments"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AttachmentsFault">
				<soap:fault name="AttachmentsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getMetadataByDocumentUnid">
			<soap:operation soapAction="https://schemes.sysnet.cz/services/attachments"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AttachmentsFault">
				<soap:fault name="AttachmentsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getMetadataByDocumentPid">
			<soap:operation soapAction="https://schemes.sysnet.cz/services/attachments"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AttachmentsFault">
				<soap:fault name="AttachmentsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="attachmentsService">
		<wsdl:port name="attachmentsSoap" binding="tns:attachmentsSoap">
			<soap:address location="No target address"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
