service/wsdl/wsRealizaceResp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="Service1"
                  targetNamespace="urn:LicRealizaceResp"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:impl="urn:IService1"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cds="http://www.cs.mfcr.cz/Schemas/CDS/Template" elementFormDefault="qualified">
		  <xs:annotation>
		    <xs:documentation>Odpověď na zprávu LicRealizaceResp</xs:documentation>
		  </xs:annotation>
		
		  <xs:element name="LicRealizaceResp" type="SinWin_LicRealizaceResp_t">
		    <xs:annotation>
		      <xs:documentation>Odpověď na zprávu LicRealizaceResp</xs:documentation>
		    </xs:annotation>
		  </xs:element>
		
		  <xs:complexType name="SinWin_LicRealizaceResp_t">
		    <xs:sequence>
		      <xs:element name="verze" type="xs:string" fixed="2.1">
		        <xs:annotation>
		          <xs:documentation>Verze zprávy č. 2.1</xs:documentation>
		        </xs:annotation>
		      </xs:element>
		      <xs:element name="REQ" type="SinWin_LicRealizaceResp_REQ_t" minOccurs="1" maxOccurs="1">
		        <xs:annotation>
		          <xs:documentation>Záhlaví reportu</xs:documentation>
		        </xs:annotation>
		      </xs:element>
		      <xs:element name="Realizace" type="SinWin_LicRealizaceResp_Realizace_t" minOccurs="1" maxOccurs="1">
		        <xs:annotation>
		          <xs:documentation>Seznam pohybů při realizacích licencí za dané období</xs:documentation>
		        </xs:annotation>
		      </xs:element>
		    </xs:sequence>
		  </xs:complexType>
		
		  <xs:complexType name="SinWin_LicRealizaceResp_REQ_t">
		    <xs:sequence>
		      <xs:element name="ReqId" type="SinWin_LicRealizaceResp_ReqId_t" minOccurs="1" maxOccurs="1">
		        <xs:annotation>
		          <xs:documentation>ID odpovědi</xs:documentation>
		        </xs:annotation>
		      </xs:element>
		      <xs:element name="DatumCasOdpovedi" type="SinWin_LicRealizaceResp_DatumCasOdpovedi_t" minOccurs="1" maxOccurs="1">
		        <xs:annotation>
		          <xs:documentation>Datum a čas odeslání odpovědi</xs:documentation>
		        </xs:annotation>
		      </xs:element>
		    </xs:sequence>
		  </xs:complexType>
		
		  <xs:complexType name="SinWin_LicRealizaceResp_Realizace_t">
		    <xs:sequence>
		      <xs:element name="Pohyb" type="SinWin_LicRealizaceResp_Pohyb_t" minOccurs="0" maxOccurs="unbounded">
		        <xs:annotation>
		          <xs:documentation>Jednotlivý pohyb na konkrétní licenci</xs:documentation>
		        </xs:annotation>
		      </xs:element>
		    </xs:sequence>
		  </xs:complexType>
		
		  <xs:complexType name="SinWin_LicRealizaceResp_Pohyb_t">
		    <xs:sequence>
		      <xs:element name="ID" type="SinWin_LicRealizaceResp_Pohyb_ID_t" minOccurs="1" maxOccurs="1">
		        <xs:annotation>
		          <xs:documentation>Jednoznačný identifikátor pohybu</xs:documentation>
		          <xs:appinfo>
		            <cds:Info cds:SystemMetatype="Integer"/>
		          </xs:appinfo>
		        </xs:annotation>
		      </xs:element>
		      <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="ECS_LicRealizaceResp_Pohyb_Errors_t">
		        <xs:annotation>
		          <xs:documentation>Seznam chyb vzniklých při validaci a následném zápisu do odpisového listu. Seznam obsahuje jak chyby systémového charakteru (např. nedostupnost zdroje), tak chyby vyplývající z obchodní logiky (např. překročení množství na licenci).</xs:documentation>
		          <xs:appinfo>
		            <cds:Info cds:IsGroup="1" cds:EN_Name="" cds:NA_Name="Seznam chyb" cds:MinOccurs="0" cds:MaxOccurs="1" cds:Cond="O" />
		          </xs:appinfo>
		        </xs:annotation>
		      </xs:element>
		    </xs:sequence>
		  </xs:complexType>
		  
		  <xs:complexType name="ECS_LicRealizaceResp_Pohyb_Errors_t">
		    <xs:sequence>
		      <xs:element minOccurs="1" maxOccurs="99" name="Error" type="ECS_LicRealizaceResp_Pohyb_Error_t">
		        <xs:annotation>
		          <xs:documentation>Jednotlivá chyba</xs:documentation>
		          <xs:appinfo>
		            <cds:Info cds:IsGroup="1" cds:Cond="O" cds:NA_Name="Chyba" cds:EN_Name="" cds:MinOccurs="1" cds:MaxOccurs="99" />
		          </xs:appinfo>
		        </xs:annotation>
		      </xs:element>
		    </xs:sequence>
		  </xs:complexType>
		  
		  <xs:complexType name="ECS_LicRealizaceResp_Pohyb_Error_t">
		    <xs:sequence>
		      <xs:element minOccurs="1" maxOccurs="1" name="ErrCislo" type="ErrCislo_t">
		        <xs:annotation>
		          <xs:documentation>Kód chyby</xs:documentation>
		          <xs:appinfo>
		            <cds:Info cds:Format="a14" cds:IsGroup="0" cds:Cond="R" cds:SystemMetatype="String" cds:NA_Name="Kód chyby" cds:EN_Name="" />
		          </xs:appinfo>
		        </xs:annotation>
		      </xs:element>
		      <xs:element minOccurs="1" maxOccurs="1" name="ErrTypChyby" type="ErrTypChyby_t">
		        <xs:annotation>
		          <xs:documentation>Typ chyby</xs:documentation>
		          <xs:appinfo>
		            <cds:Info cds:Format="a1" cds:IsGroup="0" cds:Cond="R" cds:SystemMetatype="String" cds:NA_Name="Typ chyby" cds:EN_Name="" />
		          </xs:appinfo>
		        </xs:annotation>
		      </xs:element>
		      <xs:element minOccurs="0" maxOccurs="1" name="ErrTextZkr" type="ErrTextZkr_t">
		        <xs:annotation>
		          <xs:documentation>Zkrácený text chyby</xs:documentation>
		          <xs:appinfo>
		            <cds:Info cds:Format="a250" cds:IsGroup="0" cds:Cond="R" cds:SystemMetatype="String" cds:NA_Name="Zkrácený text chyby" cds:EN_Name="" />
		          </xs:appinfo>
		        </xs:annotation>
		      </xs:element>
		    </xs:sequence>
		  </xs:complexType>
		  
		  <xs:simpleType name="SinWin_LicRealizaceResp_ReqId_t">
		    <xs:restriction base="xs:string">
		      <xs:maxLength value="50"/>
		    </xs:restriction>
		  </xs:simpleType>
		  <xs:simpleType name="SinWin_LicRealizaceResp_DatumCasReportu_t">
		    <xs:restriction base="xs:string">
		      <xs:pattern value="[0-9]{8} [0-9]{6}"/>
		      <xsd:documentation>Datum a čas ve formátu: "YYYYMMDD HHmmss"</xsd:documentation>
		    </xs:restriction>
		  </xs:simpleType>
		  <xs:simpleType name="SinWin_LicRealizaceResp_DatumCasOdpovedi_t">
		    <xs:restriction base="xs:string">
		      <xs:pattern value="[0-9]{8} [0-9]{6}"/>
		      <xsd:documentation>Datum a čas ve formátu: "YYYYMMDD HHmmss"</xsd:documentation>
		    </xs:restriction>
		  </xs:simpleType>
			<xs:simpleType name="SinWin_LicRealizaceResp_Pohyb_ID_t">
				<xs:restriction base="xs:integer" />
			</xs:simpleType>
			<xs:simpleType name="ErrCislo_t">
		    <xs:restriction base="xs:string">
		      <xs:minLength value="1" />
		      <xs:maxLength value="13" />
		      <xs:pattern value="[A-Za-z]{1,8}[-]{1}[0-9]{4}"/>
		    </xs:restriction>
		  </xs:simpleType>
		  <xs:simpleType name="ErrTypChyby_t">
		    <xs:restriction base="xs:string">
		      <xs:length value="1" />
		      <xs:enumeration value="E">
		      	<xsd:documentation>Error - nepropustná chyba, pohyb nebyl zaevidován</xsd:documentation>
		      </xs:enumeration>
		      <xs:enumeration value="W">
		      	<xsd:documentation>Warning - propustná chyba, pohyb byl zaevidován, ale stojí za ruční kontrolu</xsd:documentation>
		      </xs:enumeration>
		      <xs:enumeration value="H">
		      	<xsd:documentation>Hint - informativní hlášení, pohyb byl zaevidován</xsd:documentation>
		      </xs:enumeration>
		    </xs:restriction>
		  </xs:simpleType>
		  <xs:simpleType name="ErrTextZkr_t">
		    <xs:restriction base="xs:string">
		      <xs:minLength value="0" />
		      <xs:maxLength value="250" />
		    </xs:restriction>
		  </xs:simpleType>
		</xs:schema>
  </wsdl:types>
  
  <wsdl:message name="LicRealizaceResp">
    <wsdl:part name="parametrs" element="impl:LicRealizaceResp"/>
  </wsdl:message>
  
  <wsdl:portType name="IService1">
    <wsdl:operation name="reciveLicRealizaceResp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProcessAsync30" name="reciveLicRealizaceResp" message="impl:LicRealizaceResp"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="BasicHttpBinding_IService1" type="impl:IService1">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="reciveLicRealizaceResp">
      <wsdlsoap:operation soapAction="urn:IService1" />
      <wsdl:input name="LicRealizaceResp">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="Service1">
    <wsdl:port name="IService1" binding="impl:BasicHttpBinding_IService1">
      <wsdlsoap:address location="http://10.2.61.32:3988/swcites-ms/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>